@{
    ViewData["Title"] = "Created By";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <pre>                            ***********All product of our Company is guinine.*****************
                                     ******Created By-Thakur Abhay Raj Singh Pawar****** 
                                     ****Date-28/07/2024****
                                     240340120003
    </pre>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
