
@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<pre>                                                  +91-8737801229
                                              abhayrajsinghpawar@gmail.com
                                                  $Cdac-2024(Winter Batch)
                                                       240340120003

</pre>

<div>
    <a asp-action="Index">Back to List</a>
</div>
