@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>                            Welcome to C-Cart it is a ecommercial website for Admin side where admin control on all the product.
it is Ms.Net Core Project.
    </p>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
